:root {

  /* Estilo importado a 3 hojas CSS */

  /* 
  Desde este css podemos controlar los estilos del portfolio parcialmente. 
  */

  /* Neon style pink & lightblue colours (back-1)*/
  /* --color: #901919;
  --light-color: #d51717;
  --light-color-2: #a4f5f5;
  --lighter-color: #7dd7e3;
  --almost-white: #ffdcdc; */
  /* --background-img: url("assets/images/back-1.jpg"); */
  /* --background-img: url("https://wallpapercave.com/wp/wp2233413.jpg"); */


  /* Fall beige/ocre warm colours (back-2)*/
  --color: #904b19;
  --light-color: #d56717;
  --light-color-2: #f5d5a4;
  --lighter-color: #e3ba7d;
  --almost-white: #fff2dc;
  --seccion-clara-back: #f6ead4;
  --background-img: url("../images/back-2-sl.jpg");
  /* --background-img: url("https://cdn.create.vista.com/api/media/medium/105701758/stock-photo-beautiful-green-forest?token="); */


  /* Fall red warm colours (back-3)*/
  /* --color: #901919;
  --light-color: #d51717;
  --light-color-2: #f5a4a4;
  --lighter-color: #e37d7d;
  --almost-white: #ffdcdc;
  --background-img: url("../assets/images/back-3.jpg"); */


  /* Green forest colours  */
  /* --color: #0f6913;
  --light-color: #17d530;
  --light-color-2: #a9f5a4;
  --lighter-color: #7de37d;
  --almost-white: #dcffde;
  --seccion-clara-back: #d4f6d5;
  --background-img: url("https://cdn.create.vista.com/api/media/medium/105701758/stock-photo-beautiful-green-forest?token="); */
}

