/* Variables para ajustar el estilo facilemnte */

@import url('custom-1.css');

:root {
  /* los colores estan en forma de variable en el import */

  /* neutral standard colors */
  --darker-color: #1a1a1a;
  --dark-color: #2d2d2d;
  --white: #fffdfa;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-4: rgba(0, 0, 0, 0.4);
  --shadow-6: rgba(0, 0, 0, 0.6);
}

/* Estilos generales */

/* reestablece estilos de navegador y seteamos colores, fondo, y flia de letras */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-image: var(--background-img);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

  font-family: 'Raleway', sans-serif;
  transition: all 1s ease;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.seccion-glass {
  color: var(--almost-white);
  /* glassmorfism */
  background: var(--shadow-2);
  border-radius: 10px 10px;
  box-shadow: 4px 4px 8px 2px var(--shadow-6); 
  /* 0 4px 30px rgba(0, 0, 0, 0.1) */
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
}

/* Navbar */

.navbar {
  /* From https://css.glass */
  background: var(--shadow-2);
  border-radius: 0px 0px 5px 5px;
  box-shadow: 2px 0px 4px 3px var(--shadow-1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.div-ul-nav {
  display: flex;
  justify-content: end;
}

.navbar-brand {
  color: var(--almost-white);
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar-brand:hover {
  color: var(--white);
  transform: translateY(-2px);
}


/* Login Form */

.login {
  min-height: 66vh;
  max-width: 99.9vw;
  text-align: center;
  margin-top: 18vh;
  margin-left: 0.1vw;
}

.login-principal {
  min-height: 62vh;
  background-color: var(--shadow-4);
  /* transform: scale(0.9); */
}

.login-principal h1 {
  font-size: 3rem;
  margin: 25px 0;
}

.login.principal p {
  margin: 0;
}

.login-principal .container {
  margin: 20px 0;
}

.login-principal form {
  width: 100%;
  border-radius: 10px;
  /* transform: scale(1.1); */
  /* background-color: var(--shadow-2); */
}

.login-principal label {
  margin: 10px 0;
  color: var(--light-color-2);
}

.login-principal input[type="email"], input[type="password"] {
  /* El outline sirve para quitarle el cuadro blanco cuando esta seleccionado */
  outline: none;
  border: none;
  background-color: transparent;

  color: var(--almost-white);
  border-bottom: 1px solid var(--light-color-2);
}

input[type="email"]::placeholder {
  color: #aaa;
}

input[type="password"]::placeholder {
  color: #aaa;
}

input[type="submit"] {
  outline: none;
  border: none;
  
  background-color: var(--lighter-color);
  color: var(--darker-color);
  font-weight: 600;
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

input[type="submit"]:hover {
  background-color: var(--almost-white);
  font-weight: 600;
}

.login-principal a {
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  color: var(--almost-white);
}

.login-principal a:hover {
  text-decoration: underline;
}

/* Responsive media queries */

@media screen and (max-width: 390px) {
  .login {
    margin-top: 16vh;
  }
}